<% regex_find = '/\B'+Setting.plugin_redmine_mentions['trigger']+'(\w*)$/i'%>
<% if @project %>
  <% users = @project.users.to_a.delete_if{|u| (u.type != 'User' || u.mail.empty?)}%>
<% else %>
  <% users = User.active.to_a.delete_if{|u| (u.type != 'User' || u.mail.empty?)}%>
<% end %>
<% users_regex = users.collect{|u| "#{Setting.plugin_redmine_mentions['trigger']}#{u.login}"}.join('|')%>
<% regex_highlight = '/\B('+users_regex+')\b/g' %>
<script>
  var mentions = <%=  users.collect{|u| "#{u.id}-#{u.login}"}.to_json.html_safe %>;
  var id = 0;
  var user = '';

  var usersMapping = <%= self.map_users_to_states(users, @issue) %>;
  var statuses = <%= self.status_listing %>;

  window.setInterval(function(){
    var text = $('#issue_notes').val();
    var matches = new RegExp(<%=regex_highlight%>).exec(text);
    if (matches && matches[1]) {
      var user = matches[1].substr(1);
      var updated = false;
      for (var index = 0; index < mentions.length; index++) {
        mention = mentions[index];
        parts = mention.split('-');
        if (parts[1] === user) {
          if (parts[0] != id) {
            id = parts[0];
            updated = true;
          }
          break;
        }
      }
    }
    if (updated) {
      var $suggestions = false;
      if ($('.issue-suggestions').length) {
        $suggestions = $('.issue-suggestions');
      }
      else {
        $suggestions = $('<div class="issue-suggestions"/>');
      }
      $suggestions.html('');
      $suggestions.append('<div class="assignee-suggestion"><input id="issue_suggest_assignee_'+ id + '" data-user-id="' + id + '" type="checkbox" name="issue_suggest_assignee" value="1"><label>Assign issue to ' + user + '</label></div>');
      $('#issue_private_notes').before($suggestions);
      $('input[name="issue_suggest_assignee"]').prop('checked', true);

      if (usersMapping[id]) {
        for (var index = 0; index < usersMapping[id].length; index++) {
          statusId = usersMapping[id][index];
          statusName = statuses[statusId];

          $suggestions.append('<div class="status-suggestion"><input id="issue_suggest_status_'+ statusId + '" data-status-id="' + statusId + '" type="radio" name="issue_suggest_status" value="' + statusId + '"><label>Change status to ' + statusName + '</label></div>');
        }
        $suggestions.append('<div class="status-suggestion"><input id="issue_suggest_status_0" data-status-id="0" type="radio" name="issue_suggest_status" value="0"><label>Do not change status</label></div>');
        $('#issue_suggest_status_0').prop('checked', true);

      }

      $('#issue-form').submit(function() {
        if ($('input[name="issue_suggest_assignee"]').is(':checked')) {
          var id = $('input[name="issue_suggest_assignee"]').attr('data-user-id');
          $('#issue_assigned_to_id').val(id);
        }
        if ($('input[name="issue_suggest_status"]:checked').val()) {
          var statusId = $('input[name="issue_suggest_status"]:checked').val();
          if (statusId != 0) {
            $('#issue_status_id').val(statusId);
          }
        }
      });
    }
  }, 2000);

</script>
